In [27]:
import pandas as pd
import numpy as np
import seaborn as sns

In [38]:
age = ['15-19','20-24','25-29','30-34','35-39','40-44','45-49','50-54','55-59','60-64','65-69','70+']
gender = ["M", "F"]#1 = male, #2 = female
social=["Professional",'Manager','Non-Manual','Skilled','Semi Skilled',"Unskilled",'Other'] #1=Professianl 2=Manager/Tech 3=Non-Manual 4=Skilled 5=Semi skilled 6=Unskilled 7=Other
commute= pd.DataFrame(np.random.choice(gender, 100, p=[0.73, 0.27]), columns=["Sex"])

In [39]:
Time_taken=np.random.poisson(23, 100)
commute.loc[:,'Time Taken']=Time_taken

In [40]:
social_rand= np.random.choice(social, 100, p=[0.15, 0.34, .17,.11,.15,.05,.03])
commute.loc[:,'Social Class']=social_rand

In [41]:
Age=np.random.choice(age, 100, p=[0.1, 0.125, .145,.13,.115,.1,.085,.075,.02,.06,.035,.01])
commute.loc[:,'Age']=Age
commute

   Sex  Time Taken  Social Class    Age
0    M          18    Non-Manual  25-29
1    M          17         Other  15-19
2    M          29  Semi Skilled  40-44
3    M          22    Non-Manual  45-49
4    M          30    Non-Manual  15-19
5    M          30  Professional  65-69
6    M          18       Manager  15-19
7    M          20    Non-Manual  35-39
8    M          20    Non-Manual  15-19
9    M          29       Manager  25-29
10   M          21  Semi Skilled  35-39
11   M          29  Professional  15-19
12   M          29       Manager  50-54
13   F          29  Semi Skilled  60-64
14   M          26       Manager  30-34
15   M          17         Other  45-49
16   F          24       Skilled  25-29
17   M          28         Other  25-29
18   M          18     Unskilled  40-44
19   M          26    Non-Manual  20-24
20   M          22       Manager  20-24
21   M          25       Manager  30-34
22   M          30    Non-Manual  20-24
23   M          19       Manager  30-34
24   M          21       Skilled  15-19
25   M          25       Skilled  20-24
26   F          18  Semi Skilled  35-39
27   M          17       Manager  25-29
28   M          16  Professional  40-44
29   M          20  Professional  50-54
..  ..         ...           ...    ...
70   F          18  Semi Skilled  15-19
71   F          23       Manager  35-39
72   M          24     Unskilled  40-44
73   M          22         Other  20-24
74   M          21    Non-Manual  15-19
75   M          17  Professional  40-44
76   M          20       Manager  50-54
77   F          19  Semi Skilled  15-19
78   M          26  Professional  25-29
79   M          23       Manager  20-24
80   M          13    Non-Manual  25-29
81   M          19       Manager  50-54
82   M          20  Professional  60-64
83   M          29       Manager  40-44
84   M          25  Semi Skilled  25-29
85   M          20       Manager  60-64
86   M          30       Manager  25-29
87   M          16  Semi Skilled  20-24
88   M          33       Manager  20-24
89   M          33     Unskilled  20-24
90   M          12       Skilled  25-29
91   M          32  Semi Skilled  45-49
92   F          19  Professional  30-34
93   M          21       Manager  15-19
94   M          18       Manager  30-34
95   M          29    Non-Manual  35-39
96   M          23       Manager  35-39
97   M          17       Manager  20-24
98   M          25       Manager  35-39
99   M          20       Skilled  60-64

[100 rows x 4 columns]