In [111]:
import pandas as pd
import numpy as np
import seaborn as sns 
np.random.seed(seed=15)

In [131]:
a1 = ([15,16,17,18,19])
a2=([20,21,22,23,24])
a3=([25,26,27,28,29])
a4=([30,31,32,33,34])
a5=([35,36,37,38,39])
a6=([40,41,42,43,44])
a7=([45,46,47,48,49])
a8=([50,51,52,53,54])
a9=([55,56,57,58,59])
a10=([60,61,62,63,64])
a11=([65,66,67,68,69])
a12=([70,71,72,73,74,75,76,77,78,79,80])
age=([a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12])
gender = ['M', 'F']#1 = male, #2 = female
social=["Professional",'Manager','Non-Manual','Skilled','Semi Skilled',"Unskilled",'Other'] #1=Professianl 2=Manager/Tech 3=Non-Manual 4=Skilled 5=Semi skilled 6=Unskilled 7=Other
np.random.seed(seed=15)
commute= pd.DataFrame(np.random.choice(gender, 150, p=[0.73, 0.27]), columns=["Gender"])

In [132]:
np.random.seed(seed=15)
Time_taken=np.random.poisson(23, 150)
commute.loc[:,'Time Taken']=Time_taken

In [133]:
np.random.seed(seed=15)
social_rand= np.random.choice(social, 150, p=[0.15, 0.34, .17,.11,.15,.05,.03])
commute.loc[:,'Social Class']=social_rand

In [134]:
Age = []
np.random.seed(seed=15)
for i in np.random.choice(age, p=age_prob, size=150):
    
    Age.append(np.random.choice(i))
commute.loc[:,'Age']=Age
commute

    Gender  Time Taken  Social Class  Age
0        F          29  Semi Skilled   53
1        M          13       Manager   22
2        M          20  Professional   15
3        M          20       Manager   25
4        M          16       Manager   25
5        M          31    Non-Manual   35
6        M          28       Manager   28
7        M          18       Manager   29
8        M          11  Professional   24
9        M          27       Manager   25
10       F          23  Semi Skilled   63
11       M          16       Manager   29
12       M          17       Skilled   47
13       F          20  Semi Skilled   52
14       F          25  Semi Skilled   53
15       M          25       Manager   20
16       M          22       Manager   23
17       M          21  Professional   16
18       M          15  Professional   15
19       M          15       Manager   24
20       F          17         Other   73
21       M          25       Manager   34
22       F          18       Skilled   48
23       M          21       Manager   31
24       M          27    Non-Manual   35
25       F          19     Unskilled   61
26       M          21  Professional   23
27       M          26       Manager   33
28       M          23  Professional   23
29       M          22    Non-Manual   35
..     ...         ...           ...  ...
120      M          21       Manager   32
121      M          19    Non-Manual   37
122      F          22         Other   76
123      M          26    Non-Manual   38
124      M          24       Skilled   43
125      M          31  Professional   17
126      M          19       Manager   33
127      M          30  Professional   24
128      M          23       Manager   24
129      F          21  Semi Skilled   53
130      M          25       Manager   25
131      M          31       Manager   26
132      F          31  Semi Skilled   54
133      M          27       Manager   31
134      M          20       Skilled   41
135      M          22       Manager   31
136      M          23       Skilled   47
137      M          17       Manager   25
138      M          30    Non-Manual   39
139      M          20    Non-Manual   37
140      M          23  Professional   21
141      M          17       Manager   22
142      F          20       Skilled   45
143      M          19       Manager   31
144      M          20    Non-Manual   41
145      F          32  Semi Skilled   50
146      M          25  Professional   17
147      M          19       Manager   26
148      M          27    Non-Manual   40
149      M          19    Non-Manual   34

[150 rows x 4 columns]